div {
  margin: 15px;
  background-color: cornflowerblue;
}

.navbar{
  margin: 0;
  padding: 0;
}

.container-fluid{
  margin: 0;
  padding: 0;
}

.nav-link:hover{
  color: black;
  background-color: skyblue;
}

